<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emoção App</title>
    <style>
        table, th, td {border: 1px solid green;}
    </style>
</head>

<style>
#title {
  width: 330px;
  margin: auto;
  font-size: 1.2em;
}
#container {
  width: 90%;
  margin: auto;}
</style>

<body>

<div id='title'>
<h1 style="background-color:powderblue; color:green; font-family:verdana; font-size:200%; text-align:center; border:2px solid Tomato;">Emoção App</h1>
</div>

<div id='container'>
    <p style="font-size:12pt;">Este <abbr title="Facial Expression Recognition"><em style="color:red;">FER</em></abbr> projeto precisa da sua ajuda.</p>
 <table style="width:88%; font-size:12pt;">
       <tr><td> Como você pode contribuir:
       <ol>
           <li>   Digite seu nome como usuário e clique em Iniciar.</li>
	   <li>   Selecionar uma pasta e clique em Selecione.</li>
           <li>   Selecionar uma imagem e clique em Selecione.</li>
           <li>   Veja a imagem e forneça sua avaliação sobre a emoção. Você pode selecionar uma das opções. Além disso, pode escrever comentários na área de texto fornecida e clique em Enviar.</li>
           <li>   Selecione se deseja continuar para avaliar a próxima imagem. </li>
       </ol></td></tr>
    </table>
</div>

<br>
<div id='container'>
    <form method="post" autocomplete="on">
         <label for="username">Nome de Usário:</label><br>
         <input style="height:20px;font-size:12pt;" type="text" id="username" name="username" size="40" placeholder="Digite seu nome" required>
         &nbsp;&nbsp; 
         <input style="font-size:12pt;" type="submit" value="Iniciar">
</form>

<br><br><br><hr>
       Em caso de dúvidas entre em contato conosco:
       <address><pre> Josué, Murillo, ou Neelakshi </pre></address>
       <pre><cite> Cyber-Physical Group</cite></pre>
</div>
</body>
</html>

